body {
    background-color: silver;
}

furnace-2d {
    width: 163px;
    height: 200px;
    background-color: bisque;
    border: 1px solid blue;
}

.input {
    width: 100px;
}

.panel {
    display: inline-block;
}